{{ partial "head.html" . }}
<div class="content container">
  <h1>
    {{ if isset .Data "category" }}Category:&nbsp;{{ end }}
    {{ if isset .Data "tag" }}Tag:&nbsp;{{ end }}
    {{ .Title }}
  </h1>
  <ul class="posts">
  {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if .Params.categories }}
    &middot;
    {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
    {{ if .Params.tags }}
    &middot;
    {{ range .Params.tags }}<a class="label" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
    {{ end }}
    &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
  {{ end }}
  </ul>
</div>
{{ partial "foot.html" . }}
